<template lang="pug">
    md-card.item.card
        md-card-content
            div
                h2 CPU
                md-progress(v-for="(core, index) in referenceCPUData.numOfProcessors" v-bind:md-progress="finalUsage[core-1]" :key="'chld' + index").core
                h2 RAM
                md-progress(:md-progress="ram")
</template>

<script>
/* global chrome */
export default {
    name: 'ActivityCard',
    beforeMount: function () {
        this.getProcessors();
        this.updateCPU();
        this.calcCPUUsage();
        this.updateRAM();
    },
    mounted: function () {
        let activityInterval = setInterval(function() {
            this.updateCPU();
            this.calcCPUUsage();
            this.updateRAM();
        }.bind(this), 1000);
        this.activityInterval = activityInterval;
    },
    beforeDestroy: function () {
        clearInterval(this.activityInterval);
    },
    data () {
        return {
            referenceCPUData: { numOfProcessors: 0 },
            oldCPUData: false,
            newCPUData: false,
            finalUsage: [],
            activityInterval: null,
            ram: 0
        }
    },
    methods: {
        getProcessors(){
            chrome.system.cpu.getInfo(
                function(CPUData) {
                    this.referenceCPUData = CPUData;
                    setTimeout(() => {
                        window.msnry.layout();
                    }, 100);
                }.bind(this)
            );
        },
        updateCPU(){
            chrome.system.cpu.getInfo(
                function(newCPUData){
                    this.oldCPUData = this.newCPUData;
                    this.newCPUData = newCPUData.processors;
                }.bind(this)
            );
        },
        updateRAM(){
            chrome.system.memory.getInfo(
                function(memResults){
                    this.ram = 100 - Math.floor(memResults.availableCapacity/memResults.capacity*100);
                }.bind(this)
            );
        },
        calcCPUUsage(){
            let finalUsage = [];
            for(let i = 0; i < this.referenceCPUData.numOfProcessors; i++){
                if(this.newCPUData){
                    let usage = this.newCPUData[i].usage;
                    if (this.oldCPUData) {
                        let oldUsage = this.oldCPUData[i].usage;

                        finalUsage[i] = Math.floor((usage.kernel + usage.user - oldUsage.kernel - oldUsage.user) / (usage.total - oldUsage.total) * 100);
                    } else {
                        finalUsage[i] = Math.floor((usage.kernel + usage.user) / usage.total * 100);
                    }
                    if(finalUsage[i] < 10){
                        finalUsage[i] = 0 + finalUsage[i];
                    }
                }else{
                    return false;
                }
            }
            this.finalUsage = finalUsage;
        }
    }
}
</script>

<style lang="sass">
    .core
        margin-bottom: 2px

    .md-subhead
        font-weight: 600 !important

    .cpuContent
        padding-bottom: 0 !important

</style>
