<template lang="pug">
    md-card(class="item card" v-show="Bookmarks !== null")
        md-card-header
            div.md-title {{ title }}
        md-card-content(v-if="Bookmarks !== null")
            template(v-for="(bookmark, index) in Bookmarks")
                a( v-bind:href="bookmark.url" v-if="LinkHelper.determineType(bookmark) === 'Link'")
                    md-button.md-raised
                        img(v-bind:src="'chrome://favicon/' + bookmark.url")
                        | {{ LinkHelper.createLinkTitle(bookmark, 21) }}
                BookmarkDropdown(v-if="LinkHelper.determineType(bookmark) === 'Folder' &&  use_alt_bookmark_folders" v-bind:folderBookmark="bookmark")
                md-button(@click.native="openFolder('bk' + bookmark.id)" v-if="LinkHelper.determineType(bookmark) === 'Folder' &&  !use_alt_bookmark_folders").md-raised
                    md-icon folder
                    | {{ LinkHelper.trimTitle(bookmark.title, 20) }}
                md-dialog(v-bind:ref="'bk' + bookmark.id" v-if="LinkHelper.determineType(bookmark) === 'Folder' &&  !use_alt_bookmark_folders" @open="onOpen('bk' + bookmark.id)" @close="onClose('bk' + bookmark.id)")
                    BookmarkFolder(v-if="finished_loading" v-bind:folderBookmark="bookmark" v-bind:isOpen="isOpen")
                    md-dialog-actions
                        md-button(class="md-primary" @click.native="closeFolder('bk' + bookmark.id)") Close
</template>

<script>
/* global chrome */
import LinkHelper from '../util/LinkHelper.js';
import BookmarkFolder from './minor/BookmarkFolder.vue';
import BookmarkDropdown from './minor/BookmarkDropdown.vue';

// Make md-dialog for folders in now components
export default {
    name: 'BookmarkCard',
    beforeMount: function () {
        this.getBookmarkItems();
        switch (this.bookmarkstype) {
            case '0' :
                this.title = 'Bookmark bar';
                break;
            case '1' :
                this.title = 'Other bookmarks';
                break;
            case '2' :
                this.title = 'Mobile bookmarks';
                break;
        }
    },
    mounted: function () {
        setTimeout( () => {
            this.$store.dispatch('finish_loading')
        }, 500);
    },
    data () {
        return {
            Bookmarks: null,
            LinkHelper: LinkHelper,
            isOpen: false,
            title: ''
        }
    },
    computed: {
        finished_loading () {
            return this.$store.state.finished_loading
        },
        use_alt_bookmark_folders () {
            return this.$store.state.settings.use_alt_bookmark_folders
        }
    },
    props: ['bookmarkstype'],
    methods: {
        getBookmarkItems(){
            chrome.bookmarks.getTree(
                function(bookmarks){
                    if (bookmarks[0].children[this.bookmarkstype]) {
                        this.Bookmarks = bookmarks[0].children[this.bookmarkstype].children;
                        this.BookmarksCount = bookmarks[0].children[this.bookmarkstype].children.length;
                    } else {
                        this.Bookmarks = null;
                        this.BookmarksCount = 0;
                    }
                }.bind(this)
            );
        },
        openFolder(ref) {
            this.$refs[ref][0].open();
        },
        closeFolder(ref) {
            this.$refs[ref][0].close();
        },
        onOpen() {
            this.isOpen = true;
            document.body.style.overflow = 'hidden';
        },
        onClose() {
            this.isOpen = false;
            document.body.style.overflow = 'auto';
        }
    },
    components: {
        BookmarkFolder: BookmarkFolder,
        BookmarkDropdown: BookmarkDropdown,
    }
}
</script>

<style lang="sass">
    button.md-button
        font-size: 1em !important
        text-transform: none !important
        font-weight: 500 !important
        vertical-align: middle
        & img, .md-icon
            margin-right: 5px
</style>
