<template lang="pug">
    md-card.item.card
        md-card-content.dataTimeContent
            div(id='clock' v-bind:class="{ 'align-left' : !center_clock}")
                | {{ time }}
                span {{ meridiem }}
            div.align-right
                div(id='date') {{ date }}
</template>

<script>
export default {
    name: 'DateTimeCard',
    mounted: function () {
        this.updateTime();
        this.updateDate();
        setInterval(this.updateTime, 1000); // 1 second
        setInterval(this.updateDate, 1000 * 10); // 10 seconds
    },
    data () {
        return {
            time: '00:00:00',
            date: 'Thursday - 1/1/1970',
            meridiem: ''
        }
    },
    computed: {
        center_clock () {
            return this.$store.state.settings.center_clock;
        }
    },
    methods: {
        updateTime: function () {
            const settings = this.$store.state.settings;
            const dateTime = new Date();
            let hours = dateTime.getHours();
            let minutes = dateTime.getMinutes();
            let seconds = dateTime.getSeconds();

            if (settings.use_24_hour_clock) {
                this.meridiem = '';
            } else {
                let meridiem = 'AM';

                if (hours > 12) {
                    hours = hours - 12;
                    meridiem = 'PM';
                }
                if (hours === 0) {hours = 12;}
                this.meridiem = meridiem;
            }

            if(hours < 10) {hours = '0' + hours;}
            if(minutes < 10) {minutes = '0' + minutes;}
            if(seconds < 10) {seconds = '0' + seconds;}

            this.time = `${hours}:${minutes}${ settings.show_seconds ? ':' + seconds : ''}`;
        },
        updateDate: function(){
            const dateTime = new Date();
            const weekDays = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
            const year = dateTime.getFullYear();
            const month = dateTime.getMonth() + 1;
            const date = dateTime.getDate();
            const weekDay = weekDays[dateTime.getDay()];

            if(this.$store.state.settings.use_imperial_date_format){
                this.date = weekDay + ' - ' + month + '/' + date + '/' + year;
            }else{
                this.date = weekDay + ' - ' + date + '/' + month + '/' + year;
            }
        }
    }
}
</script>

<style lang="sass">
    #clock
        font-family: Roboto
        font-size: 4.9em
        font-weight: 300
        text-align: center
        padding: 30px 0
        & span
            margin-left: 5px
            font-size: 0.8em
            font-weight: 100

    #clock.align-left
        text-align: left

    .align-right
        text-align: right
    #date
        font-family: Roboto
        font-size: 1.3em
        font-weight: 300
</style>
