<template lang="pug">
    md-card(class="item card" v-show="Files !== null")
        md-card-header
            div.md-title Downloads
        md-card-content(v-if="Files !== null")
            template(v-for="(file, index) in Files")
                md-button(@click.native="showFile(file.id)").md-raised
                    md-icon description
                    | {{ LinkHelper.createFileTitle(file.filename, 18) }}
</template>

<script>
import LinkHelper from '../util/LinkHelper.js';

export default {
/* global chrome */
    name: 'DownloadsCard',
    mounted: function () {
        this.getDownloads();
    },
    data () {
        return {
            Files: null,
            LinkHelper
        }
    },
    methods: {
        getDownloads(){
            chrome.downloads.search({ limit: 5, orderBy: ['-startTime'], exists: true, state: 'complete'},
                function(downloads){
                    this.Files = downloads;
                }.bind(this)
            );
        },
        showFile(fileId){
            chrome.downloads.show(fileId);
        }
    }
}
</script>

<style lang="sass">
    button.md-button
        font-size: 1em !important
        text-transform: none !important
        font-weight: 500 !important
        vertical-align: middle
        & img, .md-icon
            margin-right: 5px
</style>
