<template lang="pug">
    md-card.item.card(v-show="powerState !== null")
        md-card-content(v-if="powerState === 'discharging'").batteryContent
            div
                span(id='battery-time')
                    span {{ this.chargeTime }}
                    span.desc until discharged
                span(id='battery')
                    span {{ Math.round( this.battery.level*100) }}%
                    md-icon.powerIcon battery_std
        md-card-content(v-else-if="powerState === 'charging'").batteryContent
            div
                span(id='battery-time')
                    span {{ this.chargeTime }}
                    span.desc until charged
                span(id='battery').floatRight
                    span {{ Math.round( this.battery.level*100) }}%
                    md-icon.powerIcon battery_charging_full
        md-card-content(v-else-if="powerState === 'on_power'").batteryContent
            div
                span(id='battery-time')
                    span On Power
                span(id='battery')
                    md-icon.powerIcon power
</template>

<script>
export default {
    name: 'DateTimeCard',
    beforeMount: function () {
        this.updateBattery();
        this.updateChargeTime();
        this.updatePowerState();
    },
    mounted: function () {
        let batteryInterval = setInterval(function() {
            this.updateBattery();
            this.updateChargeTime();
            this.updatePowerState();
        }.bind(this), 1000);
        this.batteryInterval = batteryInterval;
    },
    beforeDestroy: function () {
        clearInterval(this.batteryInterval);
    },
    data () {
        return {
            battery: false,
            batteryInterval: null,
            chargeTime: 0,
            powerState: null
        }
    },
    methods: {
        updateChargeTime(){
            let secs = 0;
            if( this.battery.charging ) { // Charging laptop
                secs = this.battery.chargingTime;
            } else if( !this.battery.charging ) { // Discharging laptop
                secs = this.battery.dischargingTime;
            }
            let hours   = Math.floor(secs / 3600);
            let minutes = Math.floor((secs - (hours * 3600)) / 60);

            if (minutes < 10) { minutes = '0' + minutes; }
            this.chargeTime =  hours + 'h '+ minutes+'m';
        },
        updateBattery() {
            navigator.getBattery().then(
                function(battery) {
                    this.battery = battery;
                }.bind(this)
            );
        },
        updatePowerState(){
            const charging        = this.battery.charging;
            const chargingTime    = this.battery.chargingTime;
            const dischargingTime = this.battery.dischargingTime;
            const level           = this.battery.level;

            if(
                (!charging) &&
                !isFinite(chargingTime) &&
                isFinite(dischargingTime) &&
                level < 1
            ){
                this.powerState = 'discharging';
            }
            else if(
                (!charging) &&
                !isFinite(chargingTime) &&
                isFinite(dischargingTime) &&
                level === 1
            ){
                this.powerState = 'on_power';
            }
            else if(
                (!charging) &&
                !isFinite(chargingTime) &&
                !isFinite(dischargingTime) &&
                level < 1
            ){
                this.powerState = 'on_power';
            }
            else if(
                charging &&
                isFinite(chargingTime) &&
                !isFinite(dischargingTime) &&
                level < 1
            ){
                this.powerState = 'charging';
            }
            else{
                this.powerState = 'on_power';
            }
        }
    }
}
</script>

<style lang="sass">
    //Power card
    #battery-time
        line-height: 30px
        font-size: 1.85em
        & span
            font-weight: 400
        & .desc
            font-size: 0.5em
            font-weight: 300

    #battery
        font-size: 1.85em
        vertical-align: top
        line-height: 30px
        float: right
        & span
            display: inline-block
            position: relative
            vertical-align: middle
        & .powerIcon
            display: inline-block
            position: relative
            font-size: 1em !important
            margin-top: -5px

    .batteryContent
        padding-bottom: 12px !important
</style>
