<template lang="pug">
    md-card(class="item card" v-show="Topsites !== null")
        md-card-header
            div.md-title Top sites
        md-card-content(v-if="Topsites !== null")
            template(v-for="(site, index) in Topsites")
                a( v-bind:href="site.url" v-if="LinkHelper.determineType(site) === 'Link'")
                    md-button.md-raised
                        img(v-bind:src="'chrome://favicon/' + site.url")
                        | {{ LinkHelper.createLinkTitle(site, 21) }}
</template>

<script>
import LinkHelper from '../util/LinkHelper.js';

export default {
/* global chrome */
    name: 'TopsitesCard',
    beforeMount: function () {
        this.getTopSites();
    },
    data () {
        return {
            Topsites: null,
            LinkHelper: LinkHelper
        }
    },
    methods: {
        getTopSites(){
            chrome.topSites.get(
                function(sites){
                    this.Topsites =  sites;
                }.bind(this)
            );
        }
    }
}
</script>

<style lang="sass">
    button.md-button
        font-size: 1em !important
        text-transform: none !important
        font-weight: 500 !important
        vertical-align: middle
        & img, .md-icon
            margin-right: 5px
</style>
