<template lang="pug">
    div(id="app" v-bind:class="theme_class")
        div.wrapper
            div(ref="grid").board.grid
                DateTimeCard
                ActivityCard(v-if="show_computer_info")
                PowerCard(v-if="show_power_info")
                BookmarkCard(bookmarkstype=0 v-if="show_bookmark_bar")
                BookmarkCard(bookmarkstype=1 v-if="show_other_bookmarks")
                BookmarkCard(bookmarkstype=2 v-if="show_mobile_bookmarks")
                TopsitesCard(v-if="show_top_sites")
                DownloadsCard(v-if="show_downloads")
                NoteCard
                SettingsCard
</template>

<script>
import "vue-material/dist/vue-material.css";
import Masonry from "masonry-layout";

import DateTimeCard from "./components/DateTimeCard.vue";
import ActivityCard from "./components/ActivityCard.vue";
import PowerCard from "./components/PowerCard.vue";
import BookmarkCard from "./components/BookmarkCard.vue";
import TopsitesCard from "./components/TopsitesCard.vue";
import DownloadsCard from "./components/DownloadsCard.vue";
import SettingsCard from "./components/SettingsCard.vue";
import NoteCard from "./components/NoteCard.vue";

export default {
    name: "app",
    beforeMount: function() {
        const settings = this.$store.state.settings;
        this.$material.registerTheme("other", settings.theme.inner);
        this.$material.setCurrentTheme("other");
        document.body.className = "md-theme-" + "other";
        this.active_accent = settings.theme.inner.primary;
        this.theme_class = settings.theme.body_color_class;
    },
    beforeUpdate: function() {
        const settings = this.$store.state.settings;
        if (
            this.$store.state.finished_loading &&
            (this.active_accent !== settings.theme.inner.primary ||
            this.active_background !== settings.theme.inner.background)
        ) {
            document.body.className = "md-theme-" + "other" + settings.theme.id;
            this.$material.setCurrentTheme("other" + settings.theme.id);
            this.active_accent = settings.theme.inner.primary;
            this.theme_class = settings.theme.body_color_class;
        }

        this.sync_vars("show_computer_info");
        this.sync_vars("show_power_info");
        this.sync_vars("show_bookmark_bar");
        this.sync_vars("show_other_bookmarks");
        this.sync_vars("show_mobile_bookmarks");
        this.sync_vars("show_top_sites");
        this.sync_vars("show_downloads");

        if (this.$store.state.finished_loading) {
            this.$store.dispatch("fire_init_rerender");
            this.rerender_layout();
        }
    },
    data() {
        const settings = this.$store.state.settings;
        return {
            active_accent: settings.theme.inner.primary,
            active_background: settings.theme.inner.background,
            theme_class: settings.theme.body_color_class,
            show_computer_info: settings.show_computer_info,
            show_power_info: settings.show_power_info,
            show_bookmark_bar: settings.show_bookmark_bar,
            show_other_bookmarks: settings.show_other_bookmarks,
            show_mobile_bookmarks: settings.show_mobile_bookmarks,
            show_top_sites: settings.show_top_sites,
            show_downloads: settings.show_downloads
        };
    },
    methods: {
        mason: function() {
            const msnry = new Masonry(this.$refs.grid, {
                // options
                itemSelector: ".card",
                transitionDuration: "0",
                gutter: 20,
                fitWidth: true
            });
            window.msnry = msnry;
        },
        rerender_layout: function() {
            setTimeout(function() {
                this.mason();
            }.bind(this), 10);
        },
        sync_vars: function(val) {
            if (this[val] !== this.$store.state.settings[val]) {
                this[val] = this.$store.state.settings[val];
                this.rerender_layout();
            }
        }
    },
    components: {
        DateTimeCard: DateTimeCard,
        ActivityCard: ActivityCard,
        PowerCard: PowerCard,
        BookmarkCard: BookmarkCard,
        TopsitesCard: TopsitesCard,
        DownloadsCard: DownloadsCard,
        SettingsCard: SettingsCard,
        NoteCard: NoteCard
    }
};
</script>

<style lang="sass">
    *
        font-family: Roboto
        font-weight: 300
        font-size: 1em

    a
        text-decoration: none
        color: black

    html, body
        padding: 0
        margin: 0

    html
        height: 100%

    body
        min-height: 100%
        overflow: auto

    #app
        font-family: 'Roboto', Helvetica, Arial, sans-serif
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
        min-height: 100vh

    .white-bg
        background-color: #F3F3F3

    .grey-bg
        background-color: #616161

    .black-bg
        background-color: #111111

    .wrapper
        max-width: 1660px
        margin: 0 auto
        padding-top: 50px

    .board
        margin: 0 auto

    .card
        width: 400px
        margin-bottom: 20px

    @font-face
        font-family: "Roboto"
        src: url('../public/fonts/Roboto-Thin.ttf') format("truetype")
        font-weight: 100
        font-style: normal

    @font-face
        font-family: "Roboto"
        src: url('../public/fonts/Roboto-ThinItalic.ttf') format("truetype")
        font-weight: 100
        font-style: italic

    @font-face
        font-family: "Roboto"
        src: url('../public/fonts/Roboto-Light.ttf') format("truetype")
        font-weight: 300
        font-style: normal

    @font-face
        font-family: "Roboto"
        src: url('../public/fonts/Roboto-LightItalic.ttf') format("truetype")
        font-weight: 300
        font-style: italic

    @font-face
        font-family: "Roboto"
        src: url('../public/fonts/Roboto-Regular.ttf') format("truetype")
        font-weight: 400
        font-style: normal

    @font-face
        font-family: "Roboto"
        src: url('../public/fonts/Roboto-Italic.ttf') format("truetype")
        font-weight: 400
        font-style: italic

    @font-face
        font-family: "Roboto"
        src: url('../public/fonts/Roboto-Medium.ttf') format("truetype")
        font-weight: 500
        font-style: normal

    @font-face
        font-family: "Roboto"
        src: url('../public/fonts/Roboto-MediumItalic.ttf') format("truetype")
        font-weight: 500
        font-style: italic

    @font-face
        font-family: "Roboto"
        font-style: normal

    @font-face
        font-family: "Roboto"
        src: url('../public/fonts/Roboto-BoldItalic.ttf') format("truetype")
        font-weight: 700
        font-style: italic

    @font-face
        font-family: "Roboto"
        src: url('../public/fonts/Roboto-Black.ttf') format("truetype")
        font-weight: 900
        font-style: normal

    @font-face
        font-family: "Roboto"
        src: url('../public/fonts/Roboto-BlackItalic.ttf') format("truetype")
        font-weight: 900
        font-style: italic


    @font-face
        font-family: 'Material Icons'
        font-style: normal
        font-weight: 400
        src: url('../public/fonts/MaterialIcons-Regular.eot')
        src: url('../public/fonts/MaterialIcons-Regular.woff2') format('woff2'), url('../public/fonts/MaterialIcons-Regular.woff') format('woff'), url('../public/fonts/MaterialIcons-Regular.ttf') format('truetype')

    .material-icons
        font-family: 'Material Icons'
        font-weight: normal
        font-style: normal
        font-size: 24px  /* Preferred icon size */
        display: inline-block
        line-height: 1
        text-transform: none
        letter-spacing: normal
        word-wrap: normal
        white-space: nowrap
        direction: ltr
</style>
