<template lang="pug">
    md-menu(md-size="7")
        md-button(md-menu-trigger).md-raised
            md-icon folder
            | {{ LinkHelper.trimTitle(currentTitle, 20) }}
        md-menu-content
            template(v-for="(child, index) in currentBookmarks" )

                md-menu-item(v-if="LinkHelper.determineType(child) === 'Link'" v-bind:href="child.url" :key="'chld' + index").unJustify
                    img(v-bind:src="'chrome://favicon/' + child.url")
                    span {{ LinkHelper.createLinkTitle(child, 45) }}

                md-menu-item(@click.native="openFolder('bk' + child.id)" v-if="LinkHelper.determineType(child) === 'Folder'" href="#" :key="'chld' + index").unJustify
                    md-icon folder
                    span {{ LinkHelper.trimTitle(child.title, 35) }}
                md-dialog(v-bind:ref="'bk' + child.id" v-if="LinkHelper.determineType(child) === 'Folder'" @open="onOpen('bk' + child.id)" @close="onClose('bk' + child.id)")
                    BookmarkFolder(v-if="finished_loading" v-bind:folderBookmark="child" v-bind:isOpen="isOpen")
                    md-dialog-actions
                        md-button(class="md-primary" @click.native="closeFolder('bk' + child.id)") Close
</template>

<script>
import LinkHelper from '../../util/LinkHelper.js';
import BookmarkFolder from './BookmarkFolder.vue';

export default {
    name: 'BookmarkDropdown',
    mounted: function () {
    },
    data () {
        return {
            LinkHelper,
            currentBookmarks: this.folderBookmark.children,
            currentTitle: this.folderBookmark.title,
            isOpen: false
        }
    },
    computed: {
        finished_loading () {
            return this.$store.state.finished_loading
        },
    },
    methods: {
        openFolder(ref) {
            this.$refs[ref][0].open();
        },
        closeFolder(ref) {
            this.$refs[ref][0].close();
        },
        onOpen() {
            this.isOpen = true;
            document.body.style.overflow = 'hidden';
        },
        onClose() {
            this.isOpen = false;
            document.body.style.overflow = 'auto';
        }
    },
    props: [
        'folderBookmark',
    ],
    components: {
        BookmarkFolder: BookmarkFolder
    }
}
</script>

<style lang="sass">
    .unJustify
        &>a
            justify-content: left !important
            &>i, img
                margin-right: 5px !important
</style>
